<mat-card class="atlbannners">
    <div class="homeban" >
            <div class="container animateBanner">        
            <!-- <h1 class="heading">LEARN.ENGAGE.IMPLEMENT</h1> -->
                    <h2 class="headings">SemBridge Labs is part of indicative vendors list.</h2> 
              <!-- <mat-raised-button class="btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSdlUYDn-lcmoMyxzdWIbUy3qJ6vQTF-4KNZwZplb6CIgIXM_A/viewform?c=0&w=1"></mat-raised-button> -->
              <a class="btn-primary animateBanner" (click)="newwindow()" data-target="#hero-modal">Get Quotation &nbsp;&nbsp;</a>
              
                    
                    
            </div>
    </div>
</mat-card>
<div class="offset-sm-4 col-sm-4 marginbottom">
        <h3 class="heading" style="color: black"><b>Roadmap For Collaboration</b>
      <hr class="primary" style="margin-left: 15%"></h3> 
</div>
<!-- <mat-card > -->
    <div class="row col-sm-12 marginbottom atlban" > 
        <img class="big" src="assets/img/atlRoadmap.png" >
        <img class="smalll" src="assets/img/atlRoadmapsmall.png" >
        
    </div>
    <!-- <mat-card-content>
       
    </mat-card-content> -->
<!-- </mat-card> -->

    <div class="row" style="padding-left: 5%;">        
    <!-- <h1 class="heading">LEARN.ENGAGE.IMPLEMENT</h1> -->
          <div class="col-sm-10 col-lg-8"> 
              <h3 class="heading specialpad" style="color: black"><b>Atal Tinkering Lab</b>
                    <hr class="primary"></h3> 
            <p class="aboutusblock">
                StemBridge Labs is the official partner in this initiative and helps organize Labs across schools. The workspaces are dynamic where young minds can generate creative ideas through hands-on projects, and get an edge in innovation. All tools and equipment available at these labs are used to understand the concepts of STEM, and contain do it yourself kits. Students also get other desirable amenities such as meeting rooms and video conferencing facilities. </p>
                <p class="aboutusblock">
            The labs feature state-of-the-art equipment such as Robotics & Electronics Development Tools, 3D Printers, IoT, and Sensors etc. The equipment and activities cultivate critical thinking in students and allow them to explore beyond their curriculum or textbook learning. This is more futuristic by allowing students to explore the skills of tomorrow such as design and computation thinking, artificial intelligence and adaptive learning. This is possible through STEM-based learning, which combines four disciplines – Science, Technology, Engineering, and Mathematics – into one unit.
              </p>
          </div>
          <div class="col-sm-6 col-lg-4 pblimgae animateBanner">
            <div style="justify-content: center;">
            <img style=" height: 100%; width: 100%;" src="assets/img/atlicon.png">                        
            </div>
        </div>
    </div>

    <!-- key points -->
    <div class="expansion" style="margin-top: -5%;">
        <div class="row col-sm-4">
                <h3 class="heading" style="color: black"><b>Key Points</b>
        <hr class="primary"></h3>
        </div> 
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        Our Understanding of the Need
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                  <p>
                    StemBridge Labs is willing to participate in successful journey of ATL and helps instill a ‘maker’ spirit in young students.
                    We will provide customized support to establish State-of-Art Lab.
                    <br>
                    <b>Our Unique Approach:</b>
                    We don’t believe in supplier-buyer relation but we try to develop complete trust by providing required services at same time.
                    
                  </p>
                </mat-expansion-panel>
              <mat-expansion-panel  >
                  
              <mat-expansion-panel-header>
                 <mat-panel-title >Quality Assurance</mat-panel-title>
                      </mat-expansion-panel-header>
                     
                <ul>
                    <li>Predefined SLA (Service Level Agreement).</li>
                    <li>In house team to check the quality before delivery of equipments.</li>
                </ul>
            </mat-expansion-panel>
                      <mat-expansion-panel  >
                          <mat-expansion-panel-header>
                           <mat-panel-title >
                            Our Services also Includes
                            </mat-panel-title>        
                          </mat-expansion-panel-header>
                           <ul>
                                <li>Mentorship for National/International competitions or Olympiads.
                                    </li>
                               <li>Free Course Curriculum
                                </li>
                                <li>Free Inventory Management Software 
                                </li>
                               <li>Career counselling</li>
                           </ul>
                       </mat-expansion-panel>
                       <mat-expansion-panel  >
                          <mat-expansion-panel-header>
                           <mat-panel-title >
                            Trainings And Duration
                            </mat-panel-title>        
                          </mat-expansion-panel-header>
                            <ul>
                              <li>Flexible Training timings as per teachers convinient , 2 hours a day</li>
                              <li>We complete lab setup within 45 days as per Niti Ayog guidelines  </li>
                             
                            </ul>
                       </mat-expansion-panel>
                   
                </div>
    <!--  -->
    <!-- <mat-card class="overlay" > -->
      <div class="overlay row col-sm-12 marginCenter hideqot" >
           
        <mat-card class="item"  style="background-image: url(assets/img/atlequip.png); height: 336px; z-index: -1">
            
                <!-- <mat-card-title></mat-card-title>
            <mat-card-content>
            
        </mat-card-content> -->
            </mat-card>
             
      </div>
      <div class="offset-sm-4 col-sm-4 mattitle hideqot">
        <h3><b>ATL Equipments</b></h3>
        <a class="btn-primary animateBanner" (click)="newwindow()" data-target="#hero-modal">Get Quotation &nbsp;&nbsp;</a>
    </div>
    <div class="marginTopQuot hideqot"></div>
<br>
            