.heading{
    color : white;
}

.example-card{
    width: 75%;
    height: 95%;
}
mat-card {
    margin-left: 1%;
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    // width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    // height: 80%;
    color: black;
    background-color: transparent;
  }
//   .example-card :hover {
    .mat-card-image :hover {
        transform: scale(1.1)!important;
    width: 85%;
    }
    .mat-card-image{
        border: 10px solid orange;
        cursor: pointer;
    }
    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
    mat-card p , mat-card-title h4{
        color: white;
    }
.teamdiv{
    width: 100%; margin-left: 10%;
}
 .aboutusblock{
    font-size: 16px; 
    color: black !important;
 }
.small{
    display: block;
}

.teamcard {
    /* border: 3px #cbc8a5 solid; */
    box-shadow: 1px 1px 2px #333;
    overflow: hidden;
    width: 20%;
    padding: 0px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin: 2% 2%;
    text-align: center;
    height: 220px;
    width: 200px;
    display: inline-block;
    background-size: contain;
}
.teamcard .name {
    position: relative;
    background-color: white;
    bottom: -195px;
    padding-top: 5px;
    padding-bottom: 10px;
    transition: all .25s linear;
}
.teamcard:hover .name {
    color: black;
    background: lavenderblush;
    bottom: -11px;
}
    .name{
        font-size: 16px;
        font-family: graphik
    }
    .name p{
    color: black;     
        font-size: 14px;
        font-family: graphik
    }
    .name span{
    color: black;       
    text-align: left; 
        font-size: 14px;
        font-family: graphik
    }
// div{
//     border: 1px solid green;
// }
@media only screen and (max-width: 769px) {
    .aboutusblock{
        font-size: 12px; 
     }
     .small{
         display: none;
     }
     .marginCenter .mat-card{
        margin-left: 10%;
     }
     .smallmarginleft{
         padding-left: 8%;
     }
 }
 .section-text{
     font-weight: 400;
     color: black!important;
 }
 @media (min-width: 576px){
.offset-sm-1 {
    margin-left: 5.333333%!important;
}
}
@media only screen and (max-width: 769px) {
    
      h2{
        font-size: 32px;
        }
    }