<div>
<mat-card style="background-image: url(assets/img/about.jpg); height: 300px; margin-left: 0%;">
  <div class="homebanner" >
          <div class="container animateBanner">        
          <!-- <h1 class="heading">LEARN.ENGAGE.IMPLEMENT</h1> -->
                  <h2 class="heading">The great aim of education is not knowledge, but action.</h2> 
                  
          </div>
  </div>
  </mat-card>
  <mat-card >
            <div class="row">
                <div class="col-md-7" style="margin: 3%">
                    <h2 class="heading" style="color: black"><b>Welcome to StemBridge Labs</b>
                      <hr class="primary">
                    </h2>
                    
                    <h5><b>To Help Educational institutions in promotion of quality and growth</b></h5>
                    <p class="section-text">  <br> StemBridge Labs is technology driven, STEM-based hands-on learning services Provider Company equipping the ecosystem of K-12 Teaching and learning practices by focusing on raising the standard of quality school education by enhancing knowledge based education system rather than conventional information based existing scenario.
                         <p class="section-text">We are determined to Bridge gap between theoretical approach in schools today and knowledge based schools education system of tomorrow.</p>
                         <p class="section-text">Our solutions are the State of Art, Easy to customize and tailor made solutions for diversified need of students. We provide our offerings as an umbrella of educational services for each stakeholders of our target business segment i.e. School education which includes students, teachers, school administration and parents by providing them.</p>
                   
                </div>
                <div class="col-md-4">
                  <img class="small" src="assets/img/introWrap.png" style="height:100%;width: 100%">
                </div>
            </div>
    </mat-card>
    <div class="offset-sm-1 col-sm-4" style="margin-top: -2%;">
            <h2 class="heading smallmarginleft" style="color: black"><b>Our Offerings</b>
            <hr class="primary"></h2>
    </div>
    <div  style="background-image: url(assets/img/bans1.jpg); color: white;">
        <br>
    <p class="marginCenter" style="font-size: 21px ;  margin-top: 3%;">We intend to enable critical thinking through our offerings</p>
    
    <!-- <div class="marginCenter"> -->
        
    <!-- </div> -->
    <div class="row marginCenter">
    <!-- <p></p> -->
        
    <div class="col-sm-4">
        <mat-card class="example-card">
            <!-- <mat-card-header> -->
                <mat-card-title style="width: 101%;"><h4>Project Based Learning</h4></mat-card-title>
              <!-- </mat-card-header> -->
            <!-- <div class="image1"></div> -->
    <!-- this.image1 = ''; -->
    <img mat-card-image (click)="scrolltop()"  routerLink="/project-based-learning" src="assets/img/coursefive.jpg" alt="ss" >          
            <mat-card-content>
              <p>
                Our workshops promote Project Based Learning (PBL) to foster imagination, curiosity and creativity in students. We organise workshops in schools where students get indulged in a different kind of learning through experimentation.
              </p>
            </mat-card-content>
          </mat-card>
      </div>
      <div class="col-sm-4">
          <mat-card class="example-card">
              <!-- <mat-card-header> -->
                  <mat-card-title><h4>STEM Studio</h4></mat-card-title>
                <!-- </mat-card-header> -->
                        <img mat-card-image (click)="scrolltop()"  routerLink="/stem-studio" src="assets/img/ss.jpg" alt="ss">
              
            <!-- <div class="example-card2"></div> -->
              
              <mat-card-content>
                  <p>
                    Our STEM Laboratories or Stem Studio is a learning hub where major emphasis is put on Robotics and 3D Printing. 
                    Students can enrol in this 10-month program to practice experimentation and apply their STEM skills in different kinds of projects.
                  </p>
              </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <!-- <mat-card-header> -->
                    <mat-card-title><h4>Atal Tinkering Lab</h4></mat-card-title>
                  <!-- </mat-card-header> -->
                <img mat-card-image (click)="scrolltop()"  routerLink="/atal-tinkering-lab"  src="assets/img/homefive.jpg" alt="atl">
            <!-- <div class="example-card3"></div>                 -->
                
                <mat-card-content>
                  <p>
                      Atal Tinkering Laboratories are being established in schools across India under Atal Innovation Mission – a Government of India initiative promoting innovation and entrepreneurship. We are official vendors of NITI Ayog to organise laboratories across schools.</p>
                </mat-card-content>
              </mat-card>
          </div>
  </div>
  
  <div class="row marginCenter">
      <div class="col-sm-4">
          <mat-card class="example-card">
              <!-- <mat-card-header> -->
                  <mat-card-title><h4>Winter/Summer Camp</h4></mat-card-title>
                <!-- </mat-card-header> -->
            <!-- <div class="example-card4"></div> -->
            <img mat-card-image (click)="scrolltop()"  routerLink="/winter-summer-camp" src="assets/img/Summer-Winter-Camp.jpg" alt="camp">
              
              <mat-card-content>
                <p>
                    We organise Winter Camps which are more like regular workshops, but lasts for a longer duration. These are week long programs devised to foster innovativeness among students. Like winter camps, we also organise summer camps
                  </p>
              </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <!-- <mat-card-header> -->
                    <mat-card-title><h4>Internet of Things</h4></mat-card-title>
                  <!-- </mat-card-header> -->
            <!-- <div class="example-card5"></div> -->
            <img mat-card-image (click)="scrolltop()"  routerLink="/internet-of-things" src="assets/img/coursefor.jpg" alt="iot">
                
                <mat-card-content>
                  <p>
                      Internet of Things is one of the most demanded technologies in today’s world. Workshops on Internet of Things are usually organized in engineering colleges to fetch better understanding of this emergent technology in students
                    </p>
                </mat-card-content>
              </mat-card>
          </div>
          <div class="col-sm-4">
              <mat-card class="example-card">
                  <!-- <mat-card-header> -->
                      <mat-card-title style="width: 102%;"><h4>School in Analytics(SIA)</h4></mat-card-title>
                    <!-- </mat-card-header> -->
                  <img mat-card-image (click)="scrolltop()"  routerLink="/school-in-analytics" src="assets/img/sia.jpg" alt="sia">
                  
                  <mat-card-content>
                    <p>
                        This is a software solution that StemBridgeLabs offers to streamline their operations and ensure better management. Schools can record and maintain all information related to students, attendance, transportation, teachers and others.
                      </p>
                  </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="offset-sm-1 col-sm-4" style="margin-top: 3%;">
        <h2 class="heading smallmarginleft" style="color: black"><b>Our Team</b>
        <hr class="primary"></h2>
   </div>

    <mat-card class="teams" style="padding-left: 7%;">
        <div class="offset-sm-1 col-sm-11">
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/monil.jpg); visibility: visible;">
                                    <div class="name">Monil, Founder<br>
                                        <a href="https://www.linkedin.com/in/monil-girdhar-5a967380/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                                        <span><img src="assets/img/fav.svg" style="width: 5%;">          
                                                    </span>&nbsp;<span>Photography,&nbsp;Reading</span>
                                                    <hr>
                                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                                    </span>&nbsp;<span>Accenture, SAP Consultant</span>
                                                    <hr>
                                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                                    </span>&nbsp;<span>StemBridge Labs Foundation,Institute of Defence Studies and Analyses</span>
                                                    <!-- <hr>  -->
                                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                                    </span>&nbsp;<span>Btech(CSE), &nbsp;MA, Geography</span> -->
                                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/st.jpg); visibility: visible;">
                    <div class="name">Shashwat, Advisor<br>
                        <a href="https://www.linkedin.com/in/shashwat-tiwari-83458a30/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <span><img src="assets/img/fav.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Music , Travel</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Accenture , Infosys</span>
                                   <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>StemBridge Labs Foundation, GreenStep</span>
                                    <!-- <hr>  -->
                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Btech(CSE)</span> -->
                                    <br><br>
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/anu.jpg); visibility: visible;">
                    <div class="name">Anurag, Director<br>
                        <a href="https://www.linkedin.com/in/anurag-chauhan-13233b112/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>
                        <span><img src="assets/img/fav.svg" style="width: 5%;">  
                                    
                                    </span>&nbsp;<span>Reading,&nbsp;Travel</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Silicon biztech</span>
                                    <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Red Tape, StemBridge Labs Foundation</span>
                                    <!-- <hr>  -->
                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Btech(CSE)</span> -->
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/pranav.jpg); visibility: visible;">
                    <div class="name">Pranav, Advisor<br>
                        <a href="https://www.linkedin.com/in/pranav-upmannu/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>
                        <span><img src="assets/img/fav.svg" style="width: 5%;"> 
                                     
                                    </span>&nbsp;<span>Music , Travel</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Xylem Inc.</span>
                                   <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Project Management Institute</span>
                                    <!-- <hr>  -->
                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Btech(CSE)</span> -->
                                    <br><br>
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/manish.jpg); visibility: visible;">
                    <div class="name">Manish, CTO<br>
                        <a href="https://www.linkedin.com/in/manish-porwal-6a2a0560/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>                                   
                        <span><img src="assets/img/fav.svg" style="width: 5%;">   
                                    </span>&nbsp;<span>Skydiving , Travel</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Accenture , Infosys</span>
                                   <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>StemBridge Labs Foundation</span>
                                    <br><br> 
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/shantanu.jpg); visibility: visible;">
                    <div class="name">Shantanu, BDM<br>
                        <a href="https://www.linkedin.com/in/shantanu-singh-7949a7143/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>                                
                        <span><img src="assets/img/fav.svg" style="width: 5%;">     
                                    </span>&nbsp;<span>Playing Instrument, Music</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>Snapdeal , sales associate</span>
                                    <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>StemBridge Labs Foundation</span>
                                    
                                    <!-- <hr>  -->
                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>BCA </span> -->
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/prashant.jpg); visibility: visible;">
                    <div class="name">Prashant, STEM instructor<br>
                        <a href="https://www.facebook.com/prashant.chaudhary.39/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>
                        <span><img src="assets/img/fav.svg" style="width: 5%;">          
                                </span>&nbsp;<span>Reading, Blogging</span>
                                    <hr>
                                    
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>StemBridge Labs Foundation, Green Step</span>
                                    <!-- <hr>  -->
                                    <!-- <span><img src="assets/img/univ.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>Btech(CSE)</span> -->
                                    <br><br>
                         </div>
                </div>
                <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/kshitij.jpg); visibility: visible;">
                    <div class="name">Kshitij, STEM instructor<br>
                        <a href="https://www.linkedin.com/in/kshitij-yadav-556791133/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>                                   
                        <span><img src="assets/img/fav.svg" style="width: 5%;">   
                                    </span>&nbsp;<span>Reading , Travel</span>
                                    <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>StemBridge Labs Foundation, Green Step</span>
                                    <br><br>
                         </div>
                </div>
                <!-- <div class="teamcard col-sm-3 col-md-4" style="background-image: url(assets/img/mishra.jpeg); visibility: visible;">
                    <div class="name">Sanket Mishra, BDM<br>
                        <a href="http://linkedin.com/in/sankettycoon" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<br>
                        <div style="height:40px"></div>                                   
                        <span><img src="assets/img/fav.svg" style="width: 5%;">   
                                    </span>&nbsp;<span>Blockchain , Travel</span>
                                    <hr>
                                    <span><img src="assets/img/work.svg" style="width: 5%;">          
                                    </span>&nbsp;<span>StateStrret Corp</span>
                                    <hr>
                                    <span><img src="assets/img/group.svg" style="width: 5%;">         
                                    </span>&nbsp;<span>AISEC, Green Step</span>
                                    <br><br>
                         </div>
                </div> -->
           </div>
    </mat-card>

</div>
