
<div class="offset-sm-4 col-sm-4 marginbottom"><h3 class="heading" style="color: black"><b>STEM Studio Offerings</b>
    <hr class="primary" style="margin-left: 15%"></h3> 
</div>
<!-- <mat-card > -->
    <div> 
        <img class="big" src=" assets/img/studioroadmap.png">
        <img class="smalll" src=" assets/img/studioroadmapsmall.png" >
        
    </div>
    <div class="paddingpbl row marginbottom" style="margin-left: 4%;">                       
              <div class="col-sm-7" style="padding-left: 5%;"> 
                <div class="row col-sm-7">
                        <h3 class="heading" style="color: black"><b>STEM Studio</b>
                    <hr class="primary"></h3>
                    </div>
                <p class="aboutusblock margintop">Stem Studios (SBLs) are designated spacious labs, with state-of-the-art facilities, set aside for creating something new, a space for innovating and providing solutions for problems faced by individuals and communities.one of the larger aims of the SBLs is to create a pool of talent that is future ready, by introducing and exposing young innovators to essential world skills; to get them to think out of the box, and break boundaries—and make something unique in the process!<br>
                This program is designed according to the latest technology and science standards. This comprehensive program includes a balance of theoretical and hands on learning. It adheres to the <b> NGSS (Next Generation Science Standards)</b> and closely follows learning objectives of major education boards like <b>NCERT, CBSE</b>. Our projects adhere to the <b style="color:blue">5E teaching method of NASA education</b> which will help, teachers and students alike, in developing a global standard mindset.
 </p>
              </div>
              <div class="col-sm-5 pblimgae animateBanner">
                  <div style="justify-content: center;">
                     <img style=" height: 100%; width: 100%;" src=" assets/img/studioicon.png">                       
                  </div>
              </div>
    
        </div>

        <!--  -->
        <div class="expansion">
            <div class="row col-sm-4">
                    <h3 class="heading" style="color: black"><b>Key Points</b>
            <hr class="primary"></h3>
            </div> 
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            Stem Studio Offerings include
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                       <span>
                  <ul>
                    <li>40 Weeks course curriculum</li>
                    <li>Equipments and kit</li>
                    <li>Training and support</li>
                    <li>Lesson plans and Resources</li>
                  </ul>                     
                      
                    </span>
                    </mat-expansion-panel>
                  <mat-expansion-panel  >
                      
                  <mat-expansion-panel-header>
                     <mat-panel-title >Program Objective</mat-panel-title>
                          </mat-expansion-panel-header>
                          <p> is to help instil a ‘maker’ spirit in young people, by providing opportunities for working outside the classroom, using hands-on experimentation and collaboration with the latest technology, and designing it to provide much needed solutions.</p>
                      </mat-expansion-panel>
                    
                          <mat-expansion-panel  >
                              <mat-expansion-panel-header>
                               <mat-panel-title >
                                  do-it-yourself
                                </mat-panel-title>        
                              </mat-expansion-panel-header>
                               <p>The program aims to bring the do-it-yourself culture to the forefront, encourage and motivate students to become solution providers and get engaged in self-learning that will not only lead to the development of higher order thinking skills, but may eventually lead to discoveries, innovations and inventions.
                                </p>
                           </mat-expansion-panel>
                           <mat-expansion-panel  >
                              <mat-expansion-panel-header>
                               <mat-panel-title >
                                    STEM Studio available packages
                                </mat-panel-title>        
                              </mat-expansion-panel-header>
                                <ul>
                                  <li><b style="font-size: 16px">Eementary Package:</b> includes Project Based Learning, Student Analysis Report and STEM Units.</li>
                                  <li><b style="font-size: 16px">Full scale Package:</b> includes Offbeat Courses, Student Analysis Report, Individual Assesment, Project Based Learning , STEM Units and LAB Infrastructure</li>
                                 
                                </ul>
                           </mat-expansion-panel>
                           <mat-expansion-panel  >
                              <mat-expansion-panel-header>
                               <mat-panel-title >
                                  Program Benefits
                                </mat-panel-title>        
                              </mat-expansion-panel-header>
                                <ul>
                                  <li>Students will be benefited with 21st century skills developing curiosity and learning excitment.
                                      </li>
                                  <li>It will hep schools to make difference with others , schools can combine conventional learning and STEM practices which will improve theres and students performance exponentially.</li>
                                </ul>
                           </mat-expansion-panel>
                           <mat-expansion-panel  >
                              <mat-expansion-panel-header>
                               <mat-panel-title >
                                      Duration of Program
                                </mat-panel-title>        
                              </mat-expansion-panel-header>
                                <p>40 weeks</p>
                           </mat-expansion-panel>
                       
                    </div>
    
<div><br></div>