<!-- <div class="row"> -->
    <mat-card class="bigbanner" style="background-image: url(assets/img/campicon.jpg); height: 300px;">
      
    </mat-card>
    <div class="smallBanner" style="height: 300px;">
      <img src="assets/img/campicon.jpg">                        
    </div>
       <!-- <div class="homebanner" > -->
               <div class="row" style="margin-top: 4%; padding-left: 6%;">        
                   
                     <div class="col-lg-7 col-sm-10"> 
                        <h3 class="heading" style="color: black"><b>Seasonal camps</b>
                          <hr class="primary"></h3> 
                       <p>
                          StemBridge Labs presents Summer camp and Winter Camp for children’s between 8 to 16 yrs. old.These camps are specially designed with motivation to inculcate project based learning practice in NextGen students. 
                          
                          STEM-related activities are extremely intriguing and the most popular addition to summer or winter camps. The activities not only inculcate practical learning but also foster critical thinking among students through real-world based projects. The alternative ways to learn are fun and knowledgeable at the same time. 
                        </p><p> Our camps provide a more intricate, hands-on approach to learn STEM and take part in innovation which the world needs. Group sizes are smaller than a big classroom, each and every camper receives the required attention. StemBridge Labs provides the required materials for practical learning. There are no deadlines, pressure or any compulsion, but activities keep them engaged and enhance their overall learning ability.
                        </p>
                       
                     </div>
                     <div class="col-lg-4 col-sm-6 pblimgae animateBanner" style="margin-top: 5%;">
                        <div>
                        <img src="assets/img/campicon2.png">                        
                        </div>
                    </div>
   
               </div>
   
               <div class="expansion">
                   <div class="row col-sm-4">
                      <h3 class="heading" style="color: black"><b>Key Points</b>
                   <hr class="primary"></h3>
                   </div> 
                       <mat-expansion-panel>
                           <mat-expansion-panel-header>
                               <mat-panel-title >
                                   Why to participate?
                               </mat-panel-title>
                               </mat-expansion-panel-header>
                             <p>Students can make the most out of their long summer and winter vacations through our special camps revolving around STEM Education.</p>
                           </mat-expansion-panel>
                         <mat-expansion-panel  >
                             
                         <mat-expansion-panel-header>
                            <mat-panel-title >Learning Approach</mat-panel-title>
                                 </mat-expansion-panel-header>
                                 <ul>
                                   <li>Camps are more than traditional classrooms where students work on their projects and learn through experimentation. </li>
                                   <li>They work in groups and get indulge in collaborative studies which enhance their overall academic performance.</li>
                                 </ul>
                             </mat-expansion-panel>
                           
                                 <mat-expansion-panel  >
                                     <mat-expansion-panel-header>
                                      <mat-panel-title >
                                         We provide you with:
                                       </mat-panel-title>        
                                     </mat-expansion-panel-header>
                                      
                                         <ul>
                                           
                                           <li>Real-time projects & Material for the projects- All you need to do is understand the concepts and assemble your masterpiece.
                                               Constant assistance by our team of experts along with debugging sessions and post workshop support.</li>
                                           <li>A certificate of participation for your excellent spirit and inclusion in smart learning.</li>
                                         </ul>
                                       
                                  </mat-expansion-panel>
                                  <mat-expansion-panel  >
                                     <mat-expansion-panel-header>
                                      <mat-panel-title >
                                             Duration for workshop
                                       </mat-panel-title>        
                                     </mat-expansion-panel-header>
                                       <p>We organize 5 days camp each day facilitate knowledge-based learning through technology driven sessions. Workshops are based on practical training where students learn skills in STEM and apply the same to related projects.</p>
                                  </mat-expansion-panel>
                              
                           </div>
   
     <!-- </div> -->
     <div class="row col-sm-4 moreSection margintp marginCenter">
        <h3 class="heading" style="color: black"><b>More Courses</b>
       <hr class="primary"></h3> 
     </div>
     <div class="row col-md-6 col-sm-8 col-lg-4 moreSection marginCenter" style="margin-top: -2%;">
       <mat-card class="subcard2">
         <mat-card-title>Project Based Learning</mat-card-title>
       <mat-card-content class="hoverOn">
         <div class="hoverOn">
             <mat-raised-button class="btn-primary" (click)="scrolltop()" routerLink="/project-based-learning">Explore</mat-raised-button>
           </div>
       </mat-card-content>
       <!-- <div style=" background-image: url(./../assets/img/homefor.jpg);"></div> -->
       </mat-card>
     </div>
      
   <!-- </div> -->
   