
.homebanner p{
    color: black;
}

.paddingpbl{
    margin: 50px;
}
.paddingpbl p{
font-size: 16px!important;
}
.heading h3{
    line-height: 10px;
}
.subcard2{
    height: 180px;
    width: 70%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    /* color: transparent; */
    animation: move 2s infinite alternate;
    background-image: url(./../../assets/img/homefor.jpg);
  }
  .subcard2 div  {
    display: none;
  }
  .subcard2:hover div{
    display: block !important;
  }
  .subcard2:hover .mat-card-title , {
    display: none !important;
  }
  .subcard2:hover{
    background-color: #729f98;
    background-image : none;
    color: white;
  }
  .bigbanner{
    display: block;
  }
  .smallBanner{
    display: none;
  }
  .expansion {
    margin-top: 0%;
}
  @media only screen and (max-width: 768px) {
    .bigbanner{
      display: none;
      background: white
    }
    .smallBanner{
      display: block;
    }
    .smallBanner img{
      display: block;
      width: 100%;
      height: 300px;
    }
    .paddingpbl img{
      display: none;
    }
    .expansion {
      margin-top: 7%;
  }
  .pblimgae img{
    width: 100%;
 
 }
    // .moreSection{
    //     margin-left: 0%;
    // }
  }

