<mat-card style="background-image: url(assets/img/iots.jpg)">
  <div class="homebanner" >
          <div class="container animateBanner">        
          <p class="heading" style="font-size: 33px"> <b>Innovate your world using application of IoT</b>
           </p>
                  
          </div>
  </div>
  </mat-card>
  <div class="row padcontent">  
    <h2 class="heading" style="color: black"><b>Internet of Things (IoT)</b>
        <hr class="primary"></h2>
  <p style="font-size: 16px">
      The Internet of Things is the logical next step in the evolution of the Internet.The roots of the IoT go back to several existing technologies including machine-to-machine communication (M2M), RFID and sensors.
      Contact Us for more information.
  </p>
  </div>


  <div class="moreSection">
    <h3 class="heading" style="color: black"><b>More Courses</b>
        <hr class="primary"></h3> 
      </div>
      <div class="moreSection col-md-6 col-sm-8 col-lg-4">
        <mat-card class="subcard2">
          <mat-card-title style="margin: 33px">Ethical Hacking & Cyber Security</mat-card-title>
        <mat-card-content class="hoverOn" style="margin: 70px">
          <div class="hoverOn">
              <mat-raised-button class="btn-primary" (click)="scrolltop()" routerLink="/ethical-hacking">Explore</mat-raised-button>
            </div>
        </mat-card-content>
        <!-- <div style=" background-image: url(./../assets/img/homefor.jpg);"></div> -->
        </mat-card>
      </div>