<mat-card style="background-image: url(assets/img/analytics.jpg); height: 300px;">
  <div class="homebanner" >
      <div class="container animateBanner">        
      <!-- <h1 class="heading">LEARN.ENGAGE.IMPLEMENT</h1> -->
              <h2 class="heading" style="color: white">Now performance reports are one click away.</h2> 
              
      </div>
</div>
</mat-card>
<br><br>
<div class="row" style="padding: 5%">        
          <div class="col-lg-8 col-sm-10"> 
              <h3 class="heading">School in Analytics
                <hr class="primary">
              </h3> 
            <p>
                The management software SIA can help schools answer the most operation based questions, on topics related to operational efficiency and performance aligned to their mission i.e the ability to analyze and measure the mission performance, academic performance, financial performance and operational performance of a school. For measuring and improving schools effectiveness to provide more engaging and individualized learning experiences SIA can be used for decision making.
            </p>
            <ul style="font-size: 16px;"> <a style="color:blue"><b>Benefits of SIA</b></a>
              <li>Complete view of students, faculty, curriculum, programs, operations, and budgets.</li>
              <li>Ability to manage and reduce risk and improve efficiency by streamlining operations.
                  <li>Ensure transparency for all stakeholders to the education value chain.</li>
                  <li>Drive the best possible outcomes for the institution.</li>
                  <li>The ability to produce dynamic reports with smart inquiry capability from summary to detail.</li>
                  <li>The ability to perform "what-if" modeling and scenario analysis to compare alternatives.</li>
                  <li>Gain an insight of how people using your website(Google analytics).</li>
              </ul>
            <div>
                    <h4>Contact Us more for Information</h4>
                    <mat-raised-button class="btn-primary" (click)="scrolltop()" routerLink="/contact-us">Contact Us</mat-raised-button>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 pblimgae animateBanner">      
            <img style="margin-top: 15%; width: 100%;" src="assets/img/sia.jpg">                        
        </div>

    </div>
    <div><br></div>