  <mat-card style="background-image: url(assets/img/ethical.jpg)">
    <div class="homebanner" >
            <div class="container animateBanner">        
            <h3 class="heading">Precised workshops for overview and demonstration on application of Ethical Hacking </h3>
                    
            </div>
    </div>
    </mat-card>

    <div class="row padcontent" >    
        <h3><b>Ethical Hacking & Cyber Security</b>
          <hr class="primary"></h3>
    <p style="font-size: 16px">
        The duration of this workshop will be two consecutive days with eight hours session each day, in a total of sixteen hours properly divided into theory and hand on practical sessions. At the end of this workshop a competition will be organized among the participating students where each participating student will get Certificate of Participation and the Winners will get Certificate of Merit.
      </p>
    </div>

    <div class="moreSection">
        <h3 class="heading">More Courses
          <hr style="margin-left: 1%;" class="primary"></h3> 
        </div>
        <div class="moreSection col-md-6 col-sm-8 col-lg-4">
          <mat-card class="subcard2">
            <mat-card-title style="margin: 33px">Internet of Things</mat-card-title>
          <mat-card-content class="hoverOn" style="margin: 70px">
            <div class="hoverOn">
                <mat-raised-button class="btn-primary" (click)="scrolltop()" routerLink="/internet-of-things">Explore</mat-raised-button>
              </div>
          </mat-card-content>
          <!-- <div style=" background-image: url(./../assets/img/homefor.jpg);"></div> -->
          </mat-card>
        </div>