<mat-card style="background-image: url(assets/img/teacher.jpg); height: 300px;">
</mat-card>
<br>
  <mat-card class="paddingpbl">
    <mat-card-content>
      <p>
          StemBridge Labs also offers STEM solutions for teachers to promote skill enhancement. The key elements of this program are – Information, Communication, and Technology (ICT). It is one of the most constructive offerings in which we set up teachers’ training boot camp where they can get in-depth knowledge of STEM disciplines and apply the same in their teaching profession. 
          The subject of discussion remains ‘the role of technology in education’. The programs are beneficial for teachers by enabling them to come across programming and physical computing, knowledge gained from the training enable them to reinforce their lesson plans with more engaging and creative techniques. In addition, they can take a hands-on approach to achieve defined learning objectives.
      </p>
    </mat-card-content>
    <mat-card-content>
      <h4>Contact Us more for Information</h4>
      <mat-raised-button class="btn-primary" (click)="scrolltop()" routerLink="/contact-us">Contact Us</mat-raised-button>
      
    </mat-card-content>
  </mat-card>
  <div><br></div>
